.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/header/symbol.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        @include font(38px, 46px);
        font-weight: 700;
        text-align: center;
        color: #FFFFFF;
        padding: 0 30px 0 30px;
    }

    &__btn {
        opacity: 0.5;
        border: 2px solid #FFFFFF;
        border-radius: 50%;
        background: none;
        width: 42px;
        height: 42px;
        padding: 7px 0 0 0;

        &:hover {
            border-color: #F0145A;
        }

        &-arrow:hover {
            stroke: #F0145A;
        }
    }
}

@media (min-width: 1024px) {
    .header {
        background-size: contain;
    }
}

@media (min-width: 1920px) {

}