@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.woff),
        url(../fonts/Montserrat-Regular.woff2),
        url(../fonts/Montserrat-Regular.ttf),
        url(../fonts/Montserrat-Regular.eot);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.woff),
        url(../fonts/Montserrat-Bold.woff2),
        url(../fonts/Montserrat-Bold.ttf),
        url(../fonts/Montserrat-Bold.eot);
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}