* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    font-style: normal;
}

.wrapper {
    max-width: 1920px;
    padding: 0 30px 0 30px;
    margin-left: auto;
    margin-right: auto;
}