@mixin wrapper($left, $right, $width) {
    margin-left: $left;
    margin-right: $right;
    width: $width;
}

@mixin font($fw, $fs, $lh) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}