$bgBlockPrimary: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);

$bgTextPrimary: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);

$colorTextPrimary: #ffffff;
$colorTextSecondary: #24A3FF;

$bgPrimary: #ffffff;
$brPrimary: 24px;