.container-footer {
    padding: 30px 0 30px 0;
    background: #F5F5FA;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &::before {
        content: '';
        background: #E6E6F0;
        height: 2px;
        width: 100%;
        display: block;
        margin-bottom: 30px;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }

    &__address-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    &__address {
        @include font(16px, 20px);
        color: #323264;
    }

    &__map {
        @include font(12px, 15px);
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #24A3FF;
        text-decoration: none;
        margin: 10px 0 0 0;

        &:hover {
            color: #F0145A;

        }
    }

    &__icon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 21px;
    }

    &__icon {
        background-image: url(../images/footer/fb_icon.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 38px;
        height: 38px;
        position: relative;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0 30px 0;
    }

    &__phone {
        @include font(16px, 20px);
        font-weight: 700;
        text-align: right;
        color: #46466E;
        text-decoration: none;
        font-style: normal;
    }

    &__mail {
        @include font(16px, 20px);
        font-weight: 700;
        color: #24A3FF;
        text-decoration: none;
        font-style: normal;
        margin-top: 10px;
        &:hover {
            color: #F0145A;
        }
    }

    &__license {
        @include font(16px, 20px);
        text-align: center;
        color: #B3B3BA;
        display: block;
    }
}

@media (min-width: 460px) {
    .footer {
        flex-direction: column;

        &__address-container {
            flex-direction: row;
            justify-content: center;
            margin-left: -110px;
        }

        &__address {
            position: relative;
            padding-right: 26px;

            &::after {
                content: '';
                background: #E6E6F0;
                height: 6px;
                width: 6px;
                border-radius: 50%;
                position: absolute;
                top: 7px;
                right: 10px;
        }
        }

        &__map {
            margin: 0;
        }

        &__icon-container {
            flex-direction: row;
            justify-content: center;
            margin-bottom: 30px;
        }

        &__contacts {
            flex-direction: row;
            margin: 0;
        }

        &__phone {
            margin: 0;
            padding: 0 26px 0 26px;
            position: relative;

            &::before {
                content: '';
                background: #E6E6F0;
                height: 6px;
                width: 6px;
                margin: 0 10px 0 10px;
                border-radius: 50%;
                position: absolute;
                top: 7px;
                left: 0;
            }

            &::after {
                content: '';
                background: #E6E6F0;
                height: 6px;
                width: 6px;
                margin: 0 10px 0 10px;
                border-radius: 50%;
                position: absolute;
                top: 7px;
            }
        }

        &__mail {
            margin: 0;
        }
        
        &__license {
            align-items: center;
        }
    }
}

@media (min-width: 795px) {
    .footer {
        justify-content: space-between;
        flex-direction: row;

        &__address-container {
            justify-content: flex-start;
            margin: 0;
        }

        &__icon-container {
            margin-bottom: 0;
        }
}
}