.container-publications {
    padding: 30px 0 0 0;
    background: #F5F5FA;
}

.publications {
    &__link {
        @include font(14px, 17px);
        font-weight: 700;
        color: $colorTextSecondary;
        text-decoration: none;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 0 10px 0 0;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 5.5px;
            height: 5.5px;
            border: 2px solid $colorTextSecondary;
            border-left: none;
            border-bottom: none;
            transform: rotate(45deg);
            bottom: 35%;
        }
}
    &__title {
        @include font(30px, 37px);
        font-weight: 700;
        background: $bgTextPrimary;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin: 5px 0 30px 0;
    }

    &__item-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        font-size: 0;
    }

    &__item {
        background: #FFFFFF;
        border-radius: 0 0 8px 8px;
    }

    &__img {
        width: 100%;
        object-fit: cover;
        border-radius: 8px 8px 0px 0px;
    }

    &__sub-title {
        @include font(16px, 20px);
        font-weight: 700;
        color: $colorTextSecondary;
    }

    &__date {
        @include font(12px, 15px);
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #B3B3BA;
        margin: 15px 0 15px 0;
        display: block;
    }

    &__desc {
        @include font(14px, 22px);

        &::before {
            content: '';
            height: 4px;
            background: #E6E6F0;
            display: block;
            margin-bottom: 15px;
        }
    }

    &__item-link {
        text-decoration: none;
    }

    &__content {
        padding: 30px;
    }
}

@media (min-width: 768px) {
    .wrapper {
        padding: 0 60px 0 60px;
        }
    
    .publications {
        &__title {
            @include font(38px, 46px);
            margin: 10px 0 30px 0;
        }

        &__item {
            width: calc(50% - 15px);

            &:last-child {
                width: 100%;
            }
        }
    }
}

@media (min-width: 1024px) {
    .publications {
        &__item {
            width: calc(33.33% - 20px);

            &:last-child {
                width: calc(33.33% - 20px);
            }
        }
    }
}

@media (min-width: 1920px) {
    .wrapper {
        padding: 0 160px 0 160px;
    }
}