.container-services {
    padding-bottom: 60px;
    position: relative;
    border-radius: 0px 0px 12px 12px;

    &::before {
        content: '';
        height: 10px;
        position: absolute;
        background: #CACADB;
        border-radius: 0px 0px 12px 12px;
        bottom: -10px;
        left: 20px;
        right: 20px;
        z-index: -1;
    }

    &::after {
        content: '';
        height: 10px;
        position: absolute;
        background: #E7E7F2;
        border-radius: 0px 0px 12px 12px;
        bottom: -20px;
        left: 40px;
        right: 40px;
        z-index: -2;
    }
}

.services {
    &__item {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        @include font(14px, 17px);
        font-weight: 700;
        color: $colorTextSecondary;
        text-decoration: none;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 0 10px 0 0;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 5.5px;
            height: 5.5px;
            border: 2px solid $colorTextSecondary;
            border-left: none;
            border-bottom: none;
            transform: rotate(45deg);
            bottom: 30%;
        }

        &:hover {
            color: #F0145A;

        }
        
        &:hover::after {
            border-color: #F0145A;
        }
    }

    &__title {
        background: $bgTextPrimary;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        @include font(30px, 37px);
        font-weight: 700;
        margin: 10px 0 30px 0;
    }

    &__sub-title {
        @include font(22px, 27px);
        font-weight: 700;
        color: $colorTextSecondary;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    &__img {
        background: $bgPrimary;
        border-radius: $brPrimary;
        width: 92px;
        height: 92px;
        padding: 14px;
        background-repeat: no-repeat;
        background-position: center;

        &-ecommerce {
            background-image: url(../images/services/ecommerce_icon.png);
        }

        &-support {
            background-image: url(../images/services/support_icon.png);
        }

        &-corporate {
            background-image: url(../images/services/corporate_icon.png);
        }

        &-building {
            background-image: url(../images/services/building_icon.png);
        }

        &-protection {
            background-image: url(../images/services/protection_icon.png);
        }

        &-court {
            background-image: url(../images/services/court_icon.png);
        }
    }

    &__desc {
        @include font(16px, 26px);
        color: $colorTextPrimary;
    }
}

@media (min-width: 768px) {
    .wrapper {
        padding: 0 60px 0 60px;
    }

    .services {
        &__item-container {
            display: flex;
            gap: 60px;
            flex-wrap: wrap;
        }

        &__item {
            width: calc(50% - 30px);
            margin-bottom: 0;
        }

        &__title {
            @include font(38px, 46px);
            margin-bottom: 60px;
        }
    }
}

@media (min-width: 1024px) {
    .services {
        &__item {
            width: calc(33.33% - 40px);
        }
    }
}

@media (min-width: 1920px) {
    .wrapper {
        padding: 0 160px 0 160px;
    }
    .container-services {
        padding: 0 0 60px 0;
    }
}